<h1>CP 2077 - Knowsoft Character Bulder</h1>
<h2> Signup form</h2>
<form method="POST" action="/signup">
  <input type="text" name="user[username]"><br> <!--consider adding back "required" within in put type on this line-->
  <input type="password" name="user[password]"><br>  
  <input type="submit" value="Sign Up">  
</form>

