<h1>CP 2077 - Knowsoft Character Bulder</h1>
<h2>Ripper Doc - "Be the change you desire"</h2>
<h4>You can change your meat body here</h4><br>

<form method="" action="">
  <p>Name: <br>
  <input type="text" name="name" value="<%@character.name%>"><br>
  <p>Hometown:<br>
  <input type="text" name="hometown" value="@character.hometown"><br>
  <p>Skill:<br>
  <input type="text" name="skill" value="@character.hometown"><br>
  <p>Iconic Item:<br>
  <input type="text" name="iconic_item" value="@character.iconic_item"><br>
  <br>
  <input type="submit" value="Render Clone">
</form>
<small><a href="/characters/:id/edit">Ripper Doc - "Be the change you desire"</a></small><br>