<h1>CP 2077 - Knowsoft Character Bulder</h1>
<h2><%= @character.name %></h2>
<h3><p>Hometown: <%= @character.hometown %><p></h3>
<h3><p>Skill: <%= @character.skill %><p></h3>
<h3><p>Iconic Item: <%= @character.iconic_item %><p></h3>